.searchArea {
  margin: auto;
  display: block;
  width: auto;
  text-align: center;
}

.container {
  width: fit-content;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
}

.imgCont {
  max-width: 150px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
